/* ### */
body {
   font-family: "Open Sans",Helvetica,Arial;
   font-size: 12px;
   font-weight: 400;
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 18px;
   font-weight: 800;
   margin: 8px 0;
   text-align: center;
}
h2 {
   font-size: 16px;
   font-weight: 800;
   margin: 5px 0;
   text-transform: capitalize;
}

i {}
code {}
pre {
   margin: 3px 0 3px 21px;
}
p {
   margin: 3px 0;
}

/* ### */
#main {
   border: solid #f90;
   border-width: 0 3px;
   margin: 0 auto;
   padding: 8px;
   width: 800px;
}

#nav {}

#view {}

/* ### */
.view-section {
   border:solid #000;
   border-width: 1px 0 0;
   margin: 13px 0;
   padding: 3px 0 0;
}
.view-section > div {
   display: table;
   border: solid #000;
   border-width: 1px 0 0 1px;
   margin: 8px 0;
   width: 100%;
}

/* ### */
.t-row {
   display: table-row;
}
.t-row > div {
   border: solid #000;
   border-width: 0 1px 1px 0;
}
.t-cell {
   display: table-cell;
   padding: 3px 5px;
}

/* ### */
#table-usage {}

#table-properties {}
#table-properties p {
   margin: 5px 0;
}
#table-properties p:first-child {
   margin: 5px 0 13px;
   font-size: 13px;
}

#table-methods {}
